* { margin: 0; padding: 0; }
body { background-color: #eeeeee;}
img { border: 0; vertical-align: top; }
ul, li { list-style: none; }

.content {
    position: relative;
}

.shutter {
  overflow: hidden;
  width: 100%;
  height: 819px;
  position: absolute;
  z-index:1;
  
}
.shutter-img {
  z-index: 1;
}
.shutter-img,
.shutter-img a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.shutter-img a {
  cursor: default;
}
.shutter-img a > img {
  width: 100%;
  height: 100%;
}
.shutter-img .created {
  overflow: hidden;
  position: absolute;
  z-index: 20;
}
.shutter-btn {}
.shutter-btn li {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 49px;
  height: 49px;
  margin-top: -25px;
  cursor: pointer;
}
.shutter-btn li.prev {
  left: 20px;
  background: url(../../images/shutter_prevBtn.png) no-repeat 0 -49px;
}
.shutter-btn li.next {
  right: 20px;
  background: url(../../images/shutter_nextBtn.png) no-repeat 0 -49px;
}
.shutter-desc {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background: url(../../images/shutter_shadow.png) repeat;
}
.shutter-desc p {
  padding-left: 20px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
}

.item_content {
    overflow: hidden;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 2;
    text-align: center;
    top:450px;
}

.item_content ul  {
    height:100%;
    width:100%;
}
.item_content ul li {
    width:170px;
    height:100%;
    margin:0 auto;
    display: inline-block;
}

.item_content .doctor {
    width:100%;
    height:100%;
    line-height:120px;
    cursor:pointer;
    background: url(../../images/clinical_needs.png) no-repeat;
}

.item_content .engineer {
    width:100%;
    height:100%;
    line-height:120px;
    cursor:pointer;
    background: url(../../images/prototype.png) no-repeat;
}

.item_content .news {
    width:100%;
    height:100%;
    line-height:120px;
    cursor:pointer;
    background: url(../../images/news_small.png) no-repeat;
}

.item_content ul li a{
    width:100%;
    height:100%;
}

.item_content .title {
    font-size: 32px;
}
